<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="images/logo_rounded_16px.png">
    <title>Will/Horn</title>
  </head>
  <body>
    <header class="flex_container header_row">
      <img class="logo" src="images/logo_80px.png" alt="logo">
      <div class="header">
        <h1>
          W<span class="io_header">I</span>LL<span class="io_header">/</span>H<span class="io_header">O</span>RN
        </h1>
        <h3>in dev mode</h3>
      </div>
    </header>
    <nav>
      <ul class="flex_container navigation">
        <li id="nav_about" class="{% block nav_about %}{% endblock %}"><a href="index.html">About</a></li>
        <li id="nav_blog" class="{% block nav_blog %}{% endblock %}"><a href="#">Blog</a></li>
        <li id="nav_goals" class="{% block nav_goals %}{% endblock %}"><a href="goals.html">Goals</a></li>
      </ul>
    </nav>
    <section id="main_content" class="{% block main_content_class %}{% endblock %}">
      {% block content %}{% endblock %}
    </section>
  </body>
</html>